*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.form_container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

h3{
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}

form{
  width: 50%;
  padding: 5vh;
  background-color: rgb(129, 85, 85);
  border-radius: 2vh;
}

.form_lines{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

form .form_lines .cookTime{
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .form_lines .cookTime .cookTimeDiv{
  display: flex;
  width: 45%;
}

form .form_lines .cookTime .cookTimeDiv label{
  width: 50%;
  font-size: medium;
}

form .form_lines .cookTime .cookTimeDiv input{
  width: 50%;
}

.input_div{
  width: 65%;
  display: flex;
  flex-direction: column;
}

form label{
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-style: oblique;
  width: 30%;
}

form input{
  width: 100%;
  border-radius: 1vh;
  background-color: rgb(185, 157, 157);
  text-align: center;
}

form select{
  width: 65%;
  border-radius: 1vh;
}


button{
  float: right;
  background-color: green;
  border-radius: 2vh;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
  font-size: medium;
  color: white;
}
